//<BUTTONS>====================================================================================================
.btn{
	display: inline-block;
	padding: 20px 60px;
	background-color:#34547A;
	text-align: center;
	color: #ffffff;
	@media (max-width: $md2+px) {
    	padding: 20px 35px;
    }

	&:hover{

	}
	&.fw{width: 100%;}
}
//</BUTTONS>====================================================================================================

//<INPUT>====================================================================================================
input[type=text],input[type=email],input[type=tel],textarea{
	-webkit-appearance:none;-moz-appearance:none;appearance:none;
	width: 100%;
}
.input{
	font-family: 'Roboto', sans-serif;
	border-radius: 0 !important;
	width: 100%;
	display: block;
	padding:15px 95px 15px 20px;
	font-size: 14px;
	

	&.focus{}
	&.err{}
}
textarea.input{

	resize:none;
	padding:15px 5px 50px 20px;
}
//<INPUT>====================================================================================================

//</INPUT>====================================================================================================

//</INPUT>====================================================================================================
