//<МИКСИНЫ>===============================================================================================
@import "mixin.scss";
//</МИКСИНЫ>===============================================================================================


//<Подключаем шрифты>=======================================================================================




//</Подключаем шрифты>=======================================================================================


//<Шрифт по умолчанию>==========================================================================================
$fontfamily:"";
//</Шрифт по умолчанию>==========================================================================================


//<ПЕРЕМЕННЫЕ>===========================================================================================================
@import "var.scss";

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "reset.scss";
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
    max-width: $mw+px;
    margin: 0 auto;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    padding: 0 10px;
    // font-family: 'Revalia', cursive;
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

// Подключение стилей для хедера
@import "header.scss";
@import "main-design.scss";

// =================================================================================================================
//<ОСНОВНОЙ БЛОК>====================================================================================================

//====================================================================================================
.about-me {

    /* .about-me__column */
    &__column {
        padding-top: 120px;
        padding-bottom: 100px;

        @media (max-width: $md1+px) {
            padding-bottom: 80px;
            padding-top: 100px;
        }

        @media (max-width: $md2+px) {
            padding-bottom: 60px;
            padding-top: 80px;
        }

        @media (max-width: $md3+px) {
            padding-bottom: 40px;
            padding-top: 50px;
        }

        @media (max-width: $md4+px) {
            padding-bottom: 30px;
            padding-top: 30px;
        }
    }
}

.column-repeat {

    /* .column-repeat__title */
    &__title {
        font-weight: 500;
        font-size: 32px;
        text-align: center;
        color: #000000;
        margin-bottom: 50px;

        @media (max-width: $md1+px) {
            margin-bottom: 40px;
        }

        @media (max-width: $md2+px) {
            margin-bottom: 30px;
        }

        @media (max-width: $md3+px) {
            margin-bottom: 20px;
        }

        @media (max-width: $md4+px) {
            margin-bottom: 15px;
        }
    }

    /* .column-repeat__subtitle */
    &__subtitle {
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #727272;
        max-width: 540px;
        margin: 0 auto;

        @media (max-width: $md3+px) {
            line-height: 20px;
        }
    }
}

//====================================================================================================
.image-project {
    padding: 100px 0px;
    background-color: #34547A;

    @media (max-width: $md1+px) {
        padding: 80px 0px;
        
    }

    @media (max-width: $md2+px) {
        padding: 60px 0px;
        
    }

    @media (max-width: $md3+px) {
        padding: 40px 0px;
        
    }

    @media (max-width: $md4+px) {
        padding: 20px 0px;
        
    }

    /* .image-project__row */
    &__row {
        display: flex;
        align-items: center;
        margin: 0 -5px;

        @media (max-width: $md2+px) {
            flex-wrap: wrap;
        }
    }

    /* .image-project__column */
    &__column {
        flex: 0 0 calc(100% / 6);
        padding: 0 5px;

        @media (max-width: $md2+px) {
            flex: 0 0 33.333%;
            margin: 5px 0;
        }

        @media (max-width: $md4+px) {
            flex: 1 1 100%;
            margin: 20px 30px;
        }
    }

}

.project-image {
    display: flex;
    align-items: center;

    @media (max-width: $md2+px) {
        justify-content: center;
    }

    @media (max-width: $md4+px) {
        text-align: center;
    }

    /* .project-image__img */
    &__img {}

    /* .project-image__column */
    &__column {
        margin-left: 10px;
        color: #FFFFFF;

        @media (max-width: $md4+px) {
            margin-left: 20px;
        }
    }

    /* .project-image__number */
    &__number {
        font-weight: 500;
        font-size: 21px;
        margin-bottom: 10px;

        @media (max-width: $md4+px) {
            margin-left: 20px;
        }
    }

    /* .project-image__text */
    &__text {
        font-size: 16px;
    }
}


//</ОСНОВНОЙ БЛОК>====================================================================================================
.skils {
    padding: 100px 0px;

    @media (max-width: $md1+px) {
        padding: 80px 0px;
        
    }

    @media (max-width: $md2+px) {
        padding: 60px 0px;
        
    }

    @media (max-width: $md3+px) {
        padding: 40px 0px;
        
    }

    @media (max-width: $md4+px) {
        padding: 20px 0px;
        
    }

    /* .skils__row */
    &__row {
        display: flex;
        align-items: center;
        margin: 0 -70px;

        @media (max-width: $md1+px) {
            margin: 0 -60px;
        }

        @media (max-width: $md2+px) {
            margin: 0 -50px;
        }

        @media (max-width: $md3+px) {
            margin: 0 -40px;
        }

        @media (max-width: $md4+px) {
            margin: 0 -20px;
            display: block;
            text-align: center;
        }

    }

    /* .skils__column */
    &__column {
        flex: 0 0 50%;
        padding: 0 70px;

        @media (max-width: $md1+px) {
            padding: 0 60px;
            
        }

        @media (max-width: $md2+px) {
            padding: 0 50px;
        }

        @media (max-width: $md3+px) {
            padding: 0 40px;
        }

        @media (max-width: $md4+px) {
            padding: 0 20px;
            margin: 15px 0px;
        }

        img {
            max-width: 100%;
        }
    }
}
    .items-skils {

        /* .items-skils__title */
        &__title {
            font-weight: 500;
            font-size: 32px;
            color: #000000;
            margin-bottom: 50px;
            @media (max-width: $md2+px) {
            	padding: 0 40px;
        	}

       		@media (max-width: $md3+px) {
            	padding: 0 30px;
        	}

            @media (max-width: $md4+px) {
                margin-bottom: 20px;
            }
        }

        /* .items-skils__item */
        &__item {
            font-size: 16px;
            line-height: 16px;
            color: #727272;
            position: relative;
            margin-bottom: 40px;
            padding-bottom: 40px;

            @media (max-width: $md2+px) {
            	margin-bottom: 30px;
            	padding-bottom: 30px;
        	}

       		@media (max-width: $md3+px) {
            	margin-bottom: 25px;
            	padding-bottom: 25px;
        	}

            @media (max-width: $md4+px) {
                margin-bottom: 20px;
                padding-bottom: 20px;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &:after {
                content: "";
                position: absolute;
                bottom: 0px;
                left: 0px;
                height: 4px;
                width: 100%;
                background-color: #C4C4C4;
            }

            &:before {
                content: "";
                position: absolute;
                bottom: 0px;
                left: 0px;
                height: 4px;
                background-color: #34547A;
                width: 80%;
                z-index: 10;
            }
        }
    }




    // =============================================================================================
    // ======================================================================================
    .video {
        padding: 100px 0px;
        background-color: #E5E5E5;
        text-align: center;
        @media (max-width: $md1+px) {
            padding: 80px 0px;
            
        }

        @media (max-width: $md2+px) {
            padding: 60px 0px;
        }

        @media (max-width: $md3+px) {
            padding: 40px 0px;
        }

        @media (max-width: $md4+px) {
			padding: 20px 0px;
        }

        /* .video__column */
        &__column {
            video {
                max-width: 100%;
                margin-top: 50px;
            }
        }
    }

    .photo {
        background-color: #EEEFF1;
        padding: 30px 0px 0px 0px;

        /* .photo__row */
        &__row {
            display: flex;
            flex-wrap: wrap;
            background-repeat: no-repeat
        }

        /* .photo__column */
        &__column {
            flex: 0 0 25%;
            @media (max-width: $md3+px) {
            	flex: 0 0 50%;
        	}

        	@media (max-width: $md4+px) {
				flex: 1 1 100%;
				margin: 10px 0px;
        	}
        }

        img {
            max-width: 100%;
        }
    }

    // =======================================================================================
    // =====================================================================================

    .windows {
        padding: 70px 0 100px 0;
        @media (max-width: $md1+px) {
            padding: 50px 0 60px 0;
            
        }

        @media (max-width: $md2+px) {
            padding: 40px 0 50px 0;
        }

        @media (max-width: $md3+px) {
            padding: 30px 0 30px 0;
        }

        @media (max-width: $md4+px) {
			padding: 15px 0 15px 0;
        }

        /* .windows__row */
        &__row {
            display: flex;
            margin: 0 -15px;
    		@media (max-width: $md3+px) {
            	flex-wrap: wrap;
            	text-align: center;
        	}
             @media (max-width: $md4+px) {
				display: block;
				text-align: center;
				
        	}
        }

        /* .windows__column */
        &__column {
            flex: 0 0 25%;
            padding: 0 15px;
            @media (max-width: $md3+px) {
            	flex: 0 0 50%;
        	}
            @media (max-width: $md4+px) {
				flex: 1 1 100%;
        	}
            img{
            	max-width: 100%;
            }

        }
    }

    // =============================================================================================
    // ================================================================================================



    .registration {
        background-color: #E5E5E5;
        padding: 100px 0px 50px 0px;
        @media (max-width: $md1+px) {
            padding: 80px 0 30px 0;
            
        }

        @media (max-width: $md2+px) {
            padding: 60px 0 15px 0;
        }

        @media (max-width: $md3+px) {
            padding: 40px 0 10px 0;
        }

        @media (max-width: $md4+px) {
			padding: 20px 0 1px 0;
        }

        /* .registration__column */
        &__column {
            margin-bottom: 65px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            display: grid;
            @media (max-width: $md3+px) {
				margin-bottom: 30px;
        	}
        }
    }


    .info-column {

        /* .info-column__row */
        &__row {
            display: flex;
            margin: 0 -15px;
            @media (max-width: $md4+px) {
				display: block;
        	}
        }

        /* .info-column__active */
        &__active {
            flex: 0 0 50%;
            margin-bottom: 20px;
            padding: 0 15px;
        }

        /* .info-column__message */
        &__message {
        	flex: 0 0 100%;
            margin-bottom: 40px;
            text-align: center;
        }

        &__button {
        	text-align: center;

            button {
                font-family: 'Roboto', sans-serif;
                color: #FFFFFF;
                font-size: 14px;
                text-align: center;
            }
        }

    }





    .footer {
        background-color: #34547A;
        padding: 50px 0px;
        @media (max-width: $md1+px) {
            padding: 40px 0px;;
            
        }

        @media (max-width: $md2+px) {
            padding: 30px 0px;;
        }

        @media (max-width: $md3+px) {
            padding: 20px 0px;;
        }

        @media (max-width: $md4+px) {
			padding: 10px 0px;;
        }

        /* .footer__row */
        &__row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media (max-width: $md4+px) {
				display: block;
				text-align: center;
        	}
        }

        /* .footer__column */
        &__column {
        	margin-bottom: 30px;
        	@media (max-width: $md4+px) {
				margin-bottom: 15px;
        	}
        }

        /* .footer__name */
        &__name {
            font-weight: 500;
            font-size: 21px;
            color: #FFFFFF;
            margin-bottom: 20px;

        }

        /* .footer__prava */
        &__prava {
            font-size: 13px;
            color: #FFFFFF;
        }

    }


    .row {
        display: flex;

        /* .row__image */
        &__image {
            img {
                margin-left: 20px;
            }
        }
    }

    //<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
    @import "forms.scss";
    @import "ui.scss";
    //</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================